<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/getting-around-bg.png" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">TRAVEL WITHIN PAKISTAN</h2>
          <p class="slide__desc">
            Modern conveniences have made it much simpler to move around in
            Pakistan from one city to another. These days railways, roads, and a
            network of large and small airports are all making it quite
            practical to see any part of the country
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By Air</h2>
        <p>
          Pakistan's National Airlines, PIA, serves domestic airports with scheduled connections, including multiple daily flights between major cities of Karachi, Quetta, Multan, Lahore, Islamabad and Peshawar. Three private airlines Airblue, AirSial and Serene Air also operate on domestic routes. Airlines has daily flights linking the northern tourist towns with major cities of Pakistan. All flights to northern Pakistan are subject to good weather. (<a href="www.pia.com.pk" target="_blank">www.pia.com.pk</a>)
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-plan.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-train.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By train</h2>
        <p>
          Pakistan has over 11,881 kilometers of railway network. The main lines run from Karachi to Peshawar connecting important cities of Hyderabad, Rohri, Bahawalpur, Multan, Lahore, Rawalpindi, Taxila and Peshawar. Another main line links Quetta with the rest of the country. A number of trains run between Quetta and Karachi via Sukkur. Although there are several daily trains, the faster trains among them like Green Line Express (Karachi-Islamabad), Shalimar Express, Karakoram Express (Lahore-Karachi), Khyber Mail (Karachi-Peshawar) and Tezgam (Karachi-Rawalpindi) have more comfortable air-conditioned compartments for travellers. Advance booking is recommended which can be made on mobile App “Pakistan Railways Official” / website <a href="www.pakrail.gov.pk" target="_blank">www.pakrail.gov.pk</a> or through the Railway Reservation offices throughout Pakistan.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By Road</h2>
        <p>
          Pakistan has an extensive network of roads and highways, linking cities and towns with each other, like the Grand Trunk Road (G.T. Road) with Lahore and Peshawar and the Super Highway the National Highway links Karachi with the interior of Sindh and Punjab while the Indus Highway links Peshawar with the Southern Punjab and the RCD Highway links Karachi with Quetta and Taftan (Pak-Iran border). Karakoram Highway connects Pakistan with China (Kashgar) through Islamabad, Abbottabad, Mansehra, Besham, Chilas, Gilgit, Hunza, Sost and Khunjerab Pass (4,733 m above sea level). A landmark has been achieved with the completion of Lahore-Islamabad Motorway (M2), Faisalabad-Multan Motorway (M4), Islamabad-Peshawar (M1) Motorway, Swat Motorway (M16), Mansehra-Thakot (M15) and Makran Coastal Highway (Karachi-Gwadar), which have opened some of the remote areas of Pakistan for visitors. 
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-bus2.png" />

      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-bus1.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">Public Transport</h2>

        <p>
          Taxis, 3-wheeler auto-rickshaws, bikes, vans, metro buses, mini buses and tongas (horse driven carriage) are used to travel within the city/town/village limits whereas inter city air-conditioned, non air-conditioned buses, vans and coaches are available from the main city bus terminals. Taxis/bikes can be booked through Mobile App of Careem, InDrive, & Bykea in major cities and buses tickets can be online purchased on bookkaru.com, bookme.pk, sastaticket.pk.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By car</h2>
        <p>
          Driving across cities in your car is perhaps one of the best ways to
          experience Pakistan at your own pace. The main highways and motorways
          used for car journeys are the same as the bus routes. Again, if you
          wish to avoid the highway rush, you may use the motorways for
          travelling from one city to another.
        </p>
        <p>
          You will be able to find several rest areas, petrol stations, and
          viewpoints having picturesque scenery along the motorway, such as
          Bhera and Sial. You will also be able to find various restaurant
          franchises (including McDonalds, KFC, Pizza Hut, Hardees etc) at these
          rest areas, where you can refuel both your car and yourselves with a
          delicious meal before departing for the rest of your journey.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-car.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row mb-40">
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">IMPORTANT TELEPHONE NUMBERS</h2>
        <ul class="visa-ul">
          <li>Tourism Helpline: 1422</li>
          <li>PTDC Tourist Information Centre (TIC): +92-51-9204027</li>
          <li>National Emergency Helpline: 911</li>
          <li>Police Emergency: 15</li>
          <li>PIA Flight Inquiry: 114</li>
          <li>Pakistan Railways Inquiry: 117</li>
          <li>Rescue Emergency Service: 1122</li>
          <li>Fire Brigade Number: 16</li>
          <li>Edhi Free Ambulance: 115</li>
          <li>Child Missing Complaint & Response Centre: 1138</li>
          <li>Mobile Snatched/Stolen/Lost Mobile: 1102</li>
          <li>National Highways & Motorway Police: 130</li>
          <li>Daewoo Bus Service: UAN: +92-42 111007008</li>
          <li>PIMS Hospital Islamabad: +92-51-9261170</li>

        </ul>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
