<!-- ============================
        Slider
    ============================== -->
    <section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
        <div class="bg-img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 page">
              <div class="slide__content">
                <h2 class="slide__title">Discover, Catch Cabs Seamlessly</h2>
                <h6 style="color: white;">
                  Explore Pakistan's Premier Cabs Service Providers for Convenient Travel Across the Country Hassle-Free
                </h6>
              </div>
              <!-- /.slide-content -->
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.page-title -->
      
      <!--======-->
      <div class="container-fluid">
        <div class="container">
          <div class="masonry-wrapper masonry-style-2">
            <div class="blog-container" data-column-width=".col-md-4">
              <div class="col-md-4 post-item">
                <a>
                  <a href="http://txy.co/">
                  <div class="post__img">
                    <img
                      src="assets/images/home/txyco.jpeg"
                      alt="Calendar of Events"
                    />
                  </div>
                  </a>
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Tyxco</h4>
                    <p class="post__desc">
                        Book your next cab journey easily with txy.co's user-friendly platform
                    </p>
                    <a href="http://txy.co/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://www.careem.com/">
                  <div class="post__img">
                    <img
                      src="assets/images/home/careem.png"
                      alt="Calendar of Events"
                    />
                  </div>
                  </a>
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Careem</h4>
                    <p class="post__desc">
                        Book your next cab journey easily with Careem's user-friendly platform
                    </p>
                    <a href="https://www.careem.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://indrive.com/en-us">
                  <div class="post__img">
                    <img
                      src="assets/images/home/inDrive.jpg"
                      alt="Calendar of Events"
                    />
                  </div>
                  </a>
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">InDrive</h4>
                    <p class="post__desc">
                        Book your next cab journey easily with InDrive user-friendly platform
                    </p>
                    <a href="https://indrive.com/en-us/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
            </div>
            
          </div>
          <br><br>
            <div class="data mt-10">
              <p><b>Important Note ! </b>Please be advised that Salam Pakistan / PTDC provides the above-mentioned links solely for the convenience of tourists and bears no affiliation with any of the linked vendors. In the event of any issues with bookings or related matters, kindly contact the respective vendor directly. </p>
            </div>
        </div>
      </div>
      