<div class="weather-section">
  <div class="container">
    <div class="weather-bar">
      <div class="weather-bar-content">
        <div class="weather-icon-wrapper">
          <i class="fa fa-cloud-sun"></i>
          <span class="weather-label">WEATHER</span>
        </div>
        <div class="weather-selector-wrapper">
          <select
            (change)="changeWeather($event)"
            class="weather-select"
            id="switchWidgetOptions"
          >
            <option
              *ngFor="let city of cities"
              [value]="city.city_code + '/' + city.name"
              [attr.data-href]="
                'https://forecast7.com/en/' + city.city_code + '/' + city.name + '/'
              "
              [selected]="city.name === 'islamabad'"
            >
              {{ city.alias }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<a
  *ngIf="weatherFlag"
  class="weatherwidget-io"
  href="https://forecast7.com/en/33d7373d09/islamabad/"
  data-label_2="WEATHER"
  data-font="Roboto"
  data-icons="Climacons Animated"
  data-theme="weather_one"
  id="bookingSection"
  >ISLAMABAD WEATHER</a
>
<!-- /.weather -->
